@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Saira";
}

body {
  padding: 1em 6em 1em 6em;
}

.header__navbar {
  background-color: #fff;
  padding-bottom: 1.75em;
  padding-top: 1.75em;
}
.header__navbar {
  position: fixed;
  top: 0;
  right: 0;
}

.header__navbar a {
  margin-right: 1.5em;
  margin-left: 1.5em;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  /*alterar depois*/
}
.header__navbar > a:hover {
  border-bottom: 2px solid black;
}
.apresentacao {
  display: flex;
  justify-content: center;
  height: 100%;
}
.apresentacao__texto {
  display: flex;
}
.apresentacao__informacao {
  font-size: 1.96em;
}
.img-perfil {
  border: 1px solid #000;
  border-radius: 40% 1% 40% 1%;
  /*mudar a cor de fundo background-color: ; */
}
/*redes*/
.redes {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.redes > li {
  list-style: none;
  font-size: 30px;
  font-weight: 600;
  display: flex;
}
.redes > li > a {
  font-size: 30px;
}
.redes > li > a {
  padding: 0.75em;
}
.redes {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
/*tamanho das seçoes*/
.apresentacao {
  margin-top: 3%;
  margin-bottom: 2%;
  padding-top: 5%;
  padding-bottom: 3%;
  height: 70vh;
}
.redes-socias {
  margin-bottom: 1%;
  padding: 1%;
}
.sobre-mim {
  height: 50vh;
}

.formacao {
  margin-top: 10%;
}
.experiencia {
}
/**/
.sobre-mim {
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 2%;
}
.sobre-mim__dados {
  padding-left: 3%;
  padding-right: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sobre-mim__dados > div {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 1%;
}
.sobre-mim__dados > div > p {
  padding-left: 1%;
  font-size: 1.5em;
  font-weight: 500;
}
.sobre-mim__dados > div > h2 {
  font-size: 35px;
}
.sobre-mim__dados-sobre {
  font-size: 36px;
  font-weight: 400;
}

/*tamano imagens*/
.tam {
  width: 3em;
  height: 3em;
}
.skill > div > h2 {
  font-size: 36px;
  margin-top: 10%;
  margin-bottom: 3%;
}
.skill__image {
  display: flex;

  flex-wrap: wrap;
}
.skill__image-div {
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-basis: 25%;
  box-sizing: border-box;
}
.hobbies > div > h2 {
  font-size: 36px;
  margin-top: 10%;
  margin-bottom: 3%;
}
.hobbies__image {
  width: 100%;
  height: 100%;
}
.hobbies__image-div {
  margin-top: 5%;
}
.hobbies__image-div > h2 {
  margin-bottom: 1%;
}
.formacao {
}
.formacao {
  margin-bottom: 5%;
}
.formacao__img1 {
  height: 256px;
  width: 256px;
}
.formacao__img2 {
  height: 256px;
  width: 256px;
}
.formacao__img3 {
  height: 256px;
  width: 256px;
}
.formacao__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  background-color: #f9f9f9;
}
.formacao__titulo > h2 {
  font-size: 36px;
}
.formacao__img-div {
}

.experiencia {
}
.experiencia > h2 {
  font-size: 36px;
}

.experiencia__div {
  display: flex;
  justify-content: space-between;
}
.experiencia__projetos-container {
  box-sizing: border-box;
  flex-basis: 80%;
  /*border: 1px solid aqua;*/
  height: auto;
  padding: 20px;
}
.experiencia__link-img {
  display: flex;
  justify-content: space-evenly;
  max-height: 72px;
  padding-top: 2%;
}
.experiencia__link-img > a > img {
  height: 72px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form > h1 {
  font-size: 36px;
}
.form__div {
  display: flex;
  justify-content: center;
  align-items: center;
}

form > div > input,
textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
}

form > div > input,
label {
  max-width: 100%;
  width: 100%;
}
textarea {
  padding: 2%;
}
.teste {
  max-width: 1020px;
  max-height: 300px;
}

/*refazer*/
.label-float {
  position: relative;
  padding-top: 13px;
}
.label-float > input {
  padding-top: 2%;
}
.label-float input:focus {
  border-bottom: 2px solid #000000;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.label-float input:required:invalid + label {
  color: #000;
}

.label-float input:required:invalid + label:before {
  content: "* ";
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 16px;
  margin-top: 0;
  color: #000000;
}
/**/
.btn {
  border: none;
  background-color: #000;
  font-size: 16px;
  color: #fff;
}

footer {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.footer__lista {
  padding: 10px;
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.footer__lista > li:hover {
}
.footer__lista > li {
  list-style: none;
}
footer > h2,
li,
a {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

/*.seta {
  display: flex;
  flex-direction: column;
  padding-top: 1.75em;
  justify-content: center;
  align-items: center;
} */
/*arrumas tamanho depois
section {
  height: 80vh;
  margin-bottom: 12%;
  margin-top: 12%;
  padding-top: 1%;
  padding-bottom: 1%;
}
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .apresentacao {
    padding-top: 6%;
    height: 100%;
  }
  .apresentacao__texto {
    display: flex;
    flex-direction: column;
  }
  .apresentacao__informacao {
    font-size: 1.96em;
  }
  .img-perfil {
    height: 0;
    width: 0;
  }
  .skill__image-div {
    flex-basis: 50%;
  }

  .formacao__img1,
  .formacao__img2,
  .formacao__img3 {
    height: 128px;
    width: 128px;
  }

  .experiencia__div {
    flex-direction: column;
  }
  .experiencia__link-img {
    justify-content: flex-start;
  }
  .experiencia__link-img > a > img {
    height: 36px;
    width: 36px;
  }
  .experiencia__link-img > a {
    margin-left: 5%;
  }

  footer {
    height: 15vh;
    justify-content: center;
  }
  footer > h2,
  li,
  a {
    font-size: 25px;
  }
  footer > h2 {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  body {
    background-color: red;
  }
}
